<footer class="navbar bg-success py-3 fixed-bottom" style="text-align: center;">
    <div class="container">
        <div class="icon-box" style="margin-left: 15px;">
            <a href="#" class="nav-link">
                <span class="material-icons">light_mode</span>
                <div class="icon-box-text">Weather</div>
            </a>
        </div>
        <div class="icon-box">
            <a href="#" class="nav-link">
                <span class="material-icons">health_and_safety</span>
                <div class="icon-box-text">Health</div>
            </a>
        </div>
        <div class="icon-box">
            <a href="#" class="nav-link">
                <span class="material-icons">directions_run</span>
                <div class="icon-box-text">Activites</div>
            </a>
        </div>
        <div class="icon-box">
            <a href="#" class="nav-link">
                <span class="material-icons">undo</span>
                <div class="icon-box-text">Back</div>
            </a>
        </div>
        <div class="icon-box" style="margin-right: 15px;">
            <a href="#" class="nav-link">
                <span class="material-icons">account_circle</span>
                <div class="icon-box-text">Profile</div>
            </a>
        </div>
    </div>
</footer>