<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather card template</title>

    <!------------------------------------------>
    <!-- Bootstrap Library CSS JS CDN go here -->
    <!------------------------------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <!-------------------------------------------------------->
    <!-- Firebase 8 Library related CSS, JS, JQuery go here -->
    <!-------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />


    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Stylesheet specific for the weather card-->
    <style>
        * {
            font-family: sans-serif;
        }

        body {
            background: white;
        }

        h1, h2, h3, h4, h5, h6, p, a, .weatherTimeForecast{
            color: white !important;
        }

        .weatherCard,
        .weatherTimeForecast,
        .extraInfoCards>div {
            background: #0378a6;
            margin-top: 15px;
            border-radius: 10px;
        }

        .label{
            background-color: #f26444;
            border-radius: 10px;
        }

        .body-container {
            margin-top: 80px;
            margin-bottom: 100px;
        }

        .material-symbols-outlined {
        font-variation-settings:'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 48;
        color: white;
        }

        a {
            color: white !important;
        }

        a:hover {
            color: #f26444 !important;
        }

        button{
            background-color: #f26444 !important;
            margin-top: 0px !important;
            padding-top: 0px !important;
            margin-bottom: 10px;
            text-decoration: none;
        }

        h1 {
            font-weight: bold !important;
            font-size: 3em !important;
        }
    </style>

    </style>

</head>

<body>
    <nav id="topNavbar"></nav>
    <main>
        <div class="body-container">
            <!-- Weather card -->
            <div class="weatherCard container p-4" s>
                <div class="row">
                    <div class="col-12 container text-center">
                        <h2 id="city" class="border-bottom border-dark-subtle">Location</h2>
                        <div class="row pt-4">
                            <!-- Current Temperature button: click for more detailed info -->
                            <div class="currentTemp col-6 text-center">
                                <h4>Temperature</h4>
                                <p class="display-6" id="temp">10°C</p>
                            </div>
                            <!-- Current Weather button: click for more detailed info -->
                            <div class="weatherClass col-6">
                                <h3>Weather</h4>
                                <span id="currentWeather">N/A</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extraInfoCards container">
                <div class="row">
                    <!-- UV Index Card -->
                    <div class="container p-2 col border-end border-dark-subtle">
                        <div class="row">
                            <div class="col-12 container text-center">
                                <h5 id="locationName border-bottom border-dark-subtle">UV Index</h5>
                                <span class="material-symbols-outlined">
                                    sunny
                                </span>
                                <p class="display-9">1</p>
                            </div>
                        </div>
                    </div>
                    <!-- Rain Card -->
                    <div class="rainCard container p-2 col border-end border-dark-subtle">
                        <div class="row">
                            <div class="col-12 container text-center">
                                <h5>Rain</h5>
                                <span class="material-symbols-outlined">
                                    water_drop
                                </span>
                                <p id="rain-chance" class="display-9">5%</p>
                            </div>
                        </div>
                    </div>
                    <!-- Wind Card -->
                    <div class="rainCard container p-2 col">
                        <div class="row">
                            <div class="col-12 container text-center">
                                <h5>Wind</h5>
                                <span class="material-symbols-outlined">
                                    air
                                </span>
                                <p class="display-9" id="wind-speed">5%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Weather/Temperature by time Card -->
            <div class="weatherTimeForecast container p-4 text-center">
                <div class="row p-2 label">
                    <div class="col-4">
                        <h6>Date</h6>
                    </div>
                    <div class="col-4">
                        <h6>Forecast</h6>
                    </div>
                    <div class="col-4">
                        <h6>Temperature</h6>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4 align-self-center" id="extraDayOne">
                        <h4>Day1</h4>
                    </div>
                    <div class="weatherClass col-4 text-center align-self-center">
                        <h5 id="dayOneWeather">Weather</h5>
                    </div>
                    <div class="col-4 align-self-center align-items-center" id="dayOneTemp">
                        <h5>Temp</h5>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4 align-self-center" id="extraDayTwo">
                        <h4>Day2</h4>
                    </div>
                    <div class="weatherClass col-4 align-self-center">
                        <h5 id="dayTwoWeather">Weather</h5>
                    </div>
                    <div class="col-4 align-self-center align-items-center" id="dayTwoTemp">
                        <h5>Temp</h5>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4 align-self-center" id="extraDayThree">
                        <h4>Day3</h4>
                    </div>
                    <div class="col-4 align-self-center">
                        <h5 id="dayThreeWeather">Weather</h5>
                    </div>
                    <div class="col-4 align-self-center align-items-center" id="dayThreeTemp">
                        <h5>Temp</h5>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4 align-self-center" id="extraDayFour">
                        <h4>Day4</h4>
                    </div>
                    <div class="weatherClass col-4 align-self-center">
                        <h5 id="dayFourWeather">Weather</h5>
                    </div>
                    <div class="col-4 align-self-center align-items-center" id="dayFourTemp">
                        <h5>Temp</h5>
                    </div>
                </div>
                    <div class="row p-2">
                    <div class="col-4 align-self-center" id="extraDayFive">
                        <h4>Day5</h4>
                    </div>
                    <div class="weatherClass col-4 align-self-center">
                        <h5 id="dayFiveWeather">Weather</h5>
                    </div>
                    <div class="col-4 align-self-center align-items-center" id="dayFiveTemp">
                        <h5>Temp</h5>
                    </div>
                </div>
            </div>

    </main>

    <nav id="bottomNavbar"></nav>

    <script src="/scripts/firebaseAPI_TEAMDTC14.js"></script>
    <script src="/scripts/skeleton.js"></script>
    <script src="/scripts/open_weather_map.js"></script>
</body>

</html>